<nav class="top-bar" data-topbar>
	<div class="small-9 small-centered large-centered columns">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">A&M Chess Camp</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li class="has-dropdown">
	        <a href="#">See Options</a>
	        <ul class="dropdown">
	          <li><a href="/instructors">Instructors</a></li>
	          <li><a href="/camps">Camps</a></li>
	          <li><a href="/curriculums">Curriculums</a></li>
	        </ul>
	      </li>
	    </ul>
	  </section>
	</div>
</nav>