/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

 .background{
 	background-image: url(background.png);
 	background-repeat:repeat;
 	margin-bottom: 10px;
 }

#copy{
	float: right;
}

.button{
	border-radius: 7px;
}

body {
	margin-bottom: -50px;
}

#test{
	padding-top: 10px;
}

#main_content{
	background-color: white;
	box-shadow: 0 0 8px #888888;
	/*moz-box-shadow: 0 0 8px #888888;
	webkit-box-shadow: 0 0 8px #888888;*/
	padding-bottom: 10px;
}

#footer {
	position: relative;
	width: 100%;
	padding: 5px, 5px, 5px, 5px;
	background-color: white;
	/*margin-bottom: 0px, 0px, 0px, 0px;*/
}